{{- /* Head custom content area start */ -}} {{- /* Insert any custom code
(web-analytics, resources, etc.) - it will appear in the <head></head> section
of every page. */ -}} {{- /* Can be overwritten by partial with the same name in
the global layouts. */ -}}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
  rel="stylesheet"
/>
<script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
<style>
  body {
    font-family: "JetBrains Mono", monospace;
  }
</style>
{{- /* Head custom content area end */ -}}
